(
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
a,
b,
c,
d,
e,
f,
g,
h,
i,
j,
k,
l,
m,
n,
o,
p,
q,
r,
s,
t,
u,
v,
w,
x,
y,
z,
A,
B,
C,
D,
E,
F,
G,
H,
I,
J,
K,
L,
M,
N,
O,
P,
Q,
R,
S,
T,
U,
V,
W,
X,
Y,
Z,
period,
comma,
hyphen,
plus,
asterisk,
asciicircum,
tilde,
slash,
backslash,
colon,
semicolon,
less,
equal,
greater,
exclam,
question,
quotesingle,
quotedbl,
numbersign,
at,
dollar,
Euro,
percent,
ampersand,
parenleft,
parenright,
braceleft,
braceright,
bar,
bracketleft,
bracketright,
quoteleft,
quoteright,
quotedblleft,
quotedblright,
quotesinglbase,
quotedblbase,
bullet,
underscore,
endash,
emdash,
sterling,
minus,
plusminus,
multiply,
divide,
ellipsis,
space,
periodcentered,
exclamdown,
questiondown,
degree,
asciitilde,
nbspace,
)
